.btn-config {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
}

.icon-lg {
  font-size: 3rem;
}

.icon-sm {
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
}

.btn-social {
  transition: all 0.2s ease-in-out;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background: var(--btn-color, rgb(235, 235, 235));

    .icon-sm {
      transform: rotate(5deg) scale(1.1);
    }
  }
}
