// global styles
.no-border {
  border: none !important;

  &.dropdown-menu {
    border: none;
  }
}

/* ============= DROPDOWN STYLES ============= */
.dropdown-item {
  transition: all 0.2s ease-in-out;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem !important;

  &:hover {
    transform: translateX(2px);
  }
}

.dropdown-divider {
  margin: 0.5rem;
  opacity: 0.75;
}

/* ============= END DROPDOWN STYLES ============= */

/* ================ IMAGE STYLES ================= */

.img-md {
  max-height: 350px;
  width: auto;
}

/* ============== END IMAGE STYLES =============== */
